#navigation-links-container {
    flex-grow: 1;
    #navigation-links .link {
        color: #61dafb;
        margin: 1rem;
        text-decoration: none;
    }    
    #navigation-links .link:hover {
        text-decoration: underline;
    }    
}
