#current-weather-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;

    .section-container {
        border: .0625rem solid #3f4552;
        border-radius: .625rem;
        background-color: #175fa4;
        padding: 1.5rem;
    }

    .current-temp-wrapper {
        margin: 2rem 0rem;
        grid-column: 1 / span 8;
        /* min-width: fit-content; */
        #current-temp-container {
            grid-column: span 8;
            margin-bottom: 2rem;
            padding: 0rem;
            #location-info {
                font-size: 1.5rem;
                /* border-bottom: .0625rem solid; */
                padding: 1.5rem;
                /* background-color: cornflowerblue; */
                /* background-color: dodgerblue; */
                /* background-color: steelblue; */
                background-color: #0d4343;
                border-top-left-radius: .625rem;
                border-top-right-radius: .625rem;
            }
            #temp-sun-info-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                #temp-info-container {
                    padding: 0rem 0rem 1.5rem 1.5rem;
                    #temp-info {
                        font-size: 3rem;
                        /* padding: 0rem 1.5rem 0rem 1.5rem; */
                    }
                    #weather-conditions {
                        font-size: 1.5rem;
                        /* padding: 0rem 1.5rem 0rem 1.5rem; */
                    }
                    #high-low-temp {
                        font-size: 1.5rem;
                        /* padding: 0rem 1.5rem 1.5rem 1.5rem; */
                    }
                }

                #sunrise-sunset-info-container {
                    padding: 1.5rem 1.5rem 1.5rem 0rem;
                    display: flex;
                    flex-wrap: wrap;
                    font-size: 1.5rem;
                    #sunrise-container {
                        display: flex;
                        align-items: center;
                        margin: 0rem 1rem;
                        #sunrise-info {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            justify-content: center;
                            min-width: fit-content;
                            margin-right: 1rem;
                        }
                        .sunrise-icon {
                            margin-right: 1rem;
                        }
                    }
                    #sunset-container {
                        display: flex;
                        align-items: center;
                        margin: 0rem 1rem;
                        #sunset-info {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            justify-content: center;
                            min-width: fit-content;
                            margin-right: 1rem;
                        }
                        .sunset-icon {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }

        #today-weather-container {
            margin-bottom: 2rem;
            #title-row {
                display: flex;
                align-items: center;
                #forecast-title {
                    font-size: 1.5rem;
                }
            }
            #temperature-info {
                margin: 1rem 0rem 2rem 0rem;
                display: flex;
                flex-direction: column;
                #current-temp-text {
                    font-size: 3rem;
                    line-height: 3.5rem;
                }
            }
            #additional-info {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                column-gap: 2rem;
                row-gap: 1rem;
                .additional-info-item {
                    padding-bottom: .5rem;
                    border-bottom: .0625rem solid white;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .label {
                        margin-right: .5rem;
                    }
                }
                .additional-info-item:last-child,
                .additional-info-item:nth-last-child(2) {
                    border: none;
                    padding: 0rem;
                }
            }
        }

        /* #hourly-container {
            #title-row {
                padding-bottom: 1rem;
                #hourly-title {
                    font-size: 1.5rem;
                }
            }
            #values-row {
                display: flex;
                overflow-x: overlay;
                padding: 1rem;
                .hourly-value {
                    font-size: 1.5rem;
                    min-width: 12rem;
                    padding: 0rem 1rem;
                    border-right: .0625rem solid white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .weather-icon {
                        margin-top: 1rem;
                    }
                }
                .hourly-value:last-child {
                    border-right: none;
                    padding-right: 0rem;
                  }
            }
        } */

        #air-quality-and-moon {
            display: flex;
            #air-pollen-quality-container {
                margin-right: 2rem;
                width: 70%;
                #title-row {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    #air-pollen-quality-title {
                        font-size: 1.5rem;
                    }
                }
                #additional-info-row {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    column-gap: 2rem;
                    row-gap: 1rem;
                    .additional-info-item {
                        padding-bottom: .5rem;
                        border-bottom: .0625rem solid white;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        .label {
                            margin-right: .5rem;
                        }
                    }
                    .additional-info-item:last-child,
                    .additional-info-item:nth-last-child(2) {
                        border: none;
                        padding: 0rem;
                    }
                }
            }
        }
        
        #moon-phase-container {
            width: 30%;
            padding: 1.5rem 1.5rem .5rem 1.5rem;
            #title-row {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                #moon-phase-title {
                    font-size: 1.5rem;
                }
            }
            #additional-info-row {
                /* display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                column-gap: 2rem;
                row-gap: 1rem; */
                .additional-info-item {
                    padding-bottom: .5rem;
                    margin-bottom: 1rem;
                    border-bottom: .0625rem solid white;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .label {
                        margin-right: .5rem;
                    }
                }
                .additional-info-item:last-child {
                    border: none;
                    padding: 0rem;
                }
                #icon-moon-phase {
                    display: flex;
                    justify-content: center;
                    .moon-icon {
                        height: 5.5rem;
                    }
                }
            }
        }
    }

    .forecast-wrapper {
        margin: 2rem 0rem;
        min-width: fit-content;
        grid-column: 9 / span 4;
        /* #forecast-container {
            display: grid;
            grid-column: span 4;
            margin-bottom: 2rem;
    
            #title-row {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
              
            #values-row {
                display: flex;            
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            #forecast-title {
                font-size: 1.5rem;
            }
    
            #afternoon-temp, #evening-temp, #overnight-temp {
                border-top: .0625rem solid;
            }
    
            .forecast-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
                width: 100%;
    
                .label {
                    font-size: 1.5rem;
                }
                .value {
                    font-size: 3rem;
                }
            }
        } */
        #hourly-container {
            display: grid;
            grid-column: span 4;
            margin-bottom: 2rem;
            max-height: 67rem;
            overflow-y: overlay;
            padding: 0rem;
    
            #title-row {
                margin-bottom: 1rem;
                padding: 1.5rem 1.5rem 0rem 1.5rem;
                #hourly-title {
                    font-size: 1.5rem;
                }
            }
              
            #values-row {
                display: flex;            
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0rem 1.5rem .5rem 1.5rem;;
            }
    
            .hourly-item {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0rem;
                width: 100%;
                border-top: .0625rem solid;
                font-size: 1.5rem;
                .hourly-item-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: .5rem;
                    #hourly-temp {
                        font-size: 3rem;
                    }
                }
                .hourly-item-content:last-child {
                    margin-right: 0rem;
                }
                #percipitation-info {
                    .weather-icon {
                        width: 3rem;
                        margin: 1rem;
                    }
                }
            }
            .forecast-item:last-child {
                border-top: none;
            }
        }

        /* #air-pollen-quality-container {
            #title-row {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                #air-pollen-quality-title {
                    font-size: 1.5rem;
                }
            }
            #additional-info-row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                column-gap: 2rem;
                row-gap: 1rem;
                .additional-info-item {
                    padding-bottom: .5rem;
                    border-bottom: .0625rem solid white;
                    display: flex;
                    justify-content: space-between;
                }
                .additional-info-item:last-child,
                .additional-info-item:nth-last-child(2) {
                    border: none;
                    padding: 0rem;
                }
            }
        } */
    }
}

#error-message {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    #loading-data-message {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}