#current-weather-container {
    display: flex;
    #current-temp-container {
        border: .0625rem solid #3f4552;
        border-radius: 10px;
        margin: 2rem 0rem;
        overflow: hidden;
        #location-info {
            font-size: 1.5rem;
            /* border-bottom: .0625rem solid; */
            padding: 1rem;
            /* background-color: cornflowerblue; */
            /* background-color: dodgerblue; */
            /* background-color: steelblue; */
            background-color: #0d4343;
        }
        #temperature-info {
            font-size: 3rem;
            padding: 0rem 1rem 0rem 1rem;
            background-color: #175fa4;
        }
        #weather-conditions {
            font-size: 1.5rem;
            padding: 0rem 1rem 0rem 1rem;
            background-color: #175fa4;
        }
        #day-night-temp {
            font-size: 1.5rem;
            padding: 0rem 1rem 1rem 1rem;
            background-color: #175fa4;
        }
    }

    #forecast-container {
        border: .0625rem solid #3f4552;
        border-radius: 10px;
        margin: 2rem 0rem;
        padding: 1rem;
        overflow: hidden;
        background-color: #175fa4;
        display: grid;
        flex-direction: column;

        #title-row {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
          
        #values-row {
            display: flex;            
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #forecast-title {
            font-size: 1.5rem;
        }

        #afternoon-temp, #evening-temp, #overnight-temp {
            border-top: .0625rem solid;
        }

        .forecast-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0rem;
            width: 100%;

            .label {
                font-size: 1.5rem;
            }
            .value {
                font-size: 3rem;
            }
        }
    }

    #loading-spinner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        #loading-data-message {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .column {
        flex: 1;
        padding: 1rem;
    }

    #current-temp-column {
        min-width: 70%;
    }

    #forecast-column {
        min-width: 30%;
    }
}