#weather-header-container {
    background-color: #112e51;
    height: 10rem;
    width: 100%;
    font-size: 2rem;
    border-bottom: .125rem solid;
    display: flex;


    #weather-header-content {
        width: 66.67%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        #weather-zen-logo {
            height: 9rem;
            margin-right: 1rem;
        }
    }
}