#weather-footer-container {
    background-color: #112e51;
    height: 10rem;
    width: 100%;
    font-size: 2rem;
    border-top: .125rem solid;
    display: flex;

    #weather-footer-content {
        width: 66.67%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        #github-information {
            margin-left: 1rem;
            .github-link {
                color: #61dafb;
                text-decoration: none;
            }
            .github-link:hover {
                color: #61dafb;
                text-decoration: underline;
            }
        }

        #app-information {
            margin-right: 1rem;
        }
    }
}