#page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
      
    #main-content-container {
        background-color: #3f4552;
        display: flex;
        flex: 1;
        
        #main-content {
            margin: 2rem auto;
            width: 66.67%;
        }
    }
}

.modal-dialog {
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}
